# StringTie/ RNA-seq
*.tmp
*.temp
*.bam
*.bam.bai

data/prinseq/*.fastq
data/stringtie_guided/*.gtf
data/stringtie_quant/*.gtf
genome/
tmp*/
cmpfastq/
data/stringtie_quant/*.ctab


# Ignore large sequencing files
data/prinseq/*.fastq
data/stringtie_quant/*.gtf
data/stringtie_guided/*.gtf
*.bam

# OS
.DS_Store
